<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Kids Videos</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      text-align: center;
      background-color: #f8f9fa;
    }
    h1 {
      color: #ff5733;
    }
    .video-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    .video {
      margin: 10px;
      width: 300px;
      height: 200px;
    }
    .button {
      margin-top: 20px;
      padding: 10px 20px;
      font-size: 16px;
      background-color: #ff5733;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      text-decoration: none;
    }
  </style>
</head>
<body>
    {% extends "upload.html" %}

    {% block content %}
  <h1>Kids Videos</h1>
  <a href="/games" class="button">Back to Games</a>
  <a href="/index" class="button">Back</a>

  <div class="video-container">
    <!-- 50 nursery rhyme videos -->
    <iframe class="video" src="https://www.youtube.com/embed/F4tHL8reNCs" allowfullscreen></iframe>
    <iframe class="video" src="https://www.youtube.com/embed/yCjJyiqpAuU" allowfullscreen></iframe>
    <iframe class="video" src="https://www.youtube.com/embed/RswnMr9ZEPw" allowfullscreen></iframe>
    <iframe class="video" src="https://www.youtube.com/embed/kJ8UEF6_UaI" allowfullscreen></iframe>
    <iframe class="video" src="https://www.youtube.com/embed/hpXRyI5C7O8" allowfullscreen></iframe>
    <iframe class="video" src="https://www.youtube.com/embed/ho079nQUx54" allowfullscreen></iframe>
    <iframe class="video" src="https://www.youtube.com/embed/j0rSXjVuJVg" allowfullscreen></iframe>
    <iframe class="video" src="https://www.youtube.com/embed/fGx6K90TmCI" allowfullscreen></iframe>
    <iframe class="video" src="https://www.youtube.com/embed/Tt_X5dcusjQ" allowfullscreen></iframe>
    <iframe class="video" src="https://www.youtube.com/embed/MOgj68f4pDg" allowfullscreen></iframe>
    <iframe class="video" src="https://www.youtube.com/embed/WkRk4NfFa_o" allowfullscreen></iframe>
    <iframe class="video" src="https://www.youtube.com/embed/XqZsoesa55w" allowfullscreen></iframe>
    <iframe class="video" src="https://www.youtube.com/embed/1cA-cSg8DwA" allowfullscreen></iframe>
    <iframe class="video" src="https://www.youtube.com/embed/71hqRT9U0wg" allowfullscreen></iframe>
    <iframe class="video" src="https://www.youtube.com/embed/HkAK9QbnPJo" allowfullscreen></iframe>
    <iframe class="video" src="https://www.youtube.com/embed/9XyT3Z4jD8E" allowfullscreen></iframe>
    <iframe class="video" src="https://www.youtube.com/embed/YDsWQEppJEE" allowfullscreen></iframe>
    <iframe class="video" src="https://www.youtube.com/embed/8ZjpI6fgYSY" allowfullscreen></iframe>
    <iframe class="video" src="https://www.youtube.com/embed/Nt3etFMEZbI" allowfullscreen></iframe>
    <iframe class="video" src="https://www.youtube.com/embed/F4XfhnOFGpQ" allowfullscreen></iframe>
    <iframe class="video" src="https://www.youtube.com/embed/oypUUrjLZWM" allowfullscreen></iframe>
    <iframe class="video" src="https://www.youtube.com/embed/8c7oYzP8mIs" allowfullscreen></iframe>
    <iframe class="video" src="https://www.youtube.com/embed/4smnR3p2zkA" allowfullscreen></iframe>
    <iframe class="video" src="https://www.youtube.com/embed/pysNf2yTL5g" allowfullscreen></iframe>
    <iframe class="video" src="https://www.youtube.com/embed/1H9K_OA-KQI" allowfullscreen></iframe>
    <iframe class="video" src="https://www.youtube.com/embed/Ju3Y7Z3ZV0k" allowfullscreen></iframe>
    <iframe class="video" src="https://www.youtube.com/embed/VocB9dfjZ3g" allowfullscreen></iframe>
    <iframe class="video" src="https://www.youtube.com/embed/WgMHm5OReS4" allowfullscreen></iframe>
    <iframe class="video" src="https://www.youtube.com/embed/VnRrxpy5kaI" allowfullscreen></iframe>
    <iframe class="video" src="https://www.youtube.com/embed/2S__fbCGwOM" allowfullscreen></iframe>
    <iframe class="video" src="https://www.youtube.com/embed/uvcIye3WcS8" allowfullscreen></iframe>
    <iframe class="video" src="https://www.youtube.com/embed/lAIGb1lfpBw" allowfullscreen></iframe>
    <iframe class="video" src="https://www.youtube.com/embed/NpY_xQbB9gU" allowfullscreen></iframe>
    <iframe class="video" src="https://www.youtube.com/embed/mqsZEDuMZqQ" allowfullscreen></iframe>
    <iframe class="video" src="https://www.youtube.com/embed/BdB2GVVS9jA" allowfullscreen></iframe>
    <iframe class="video" src="https://www.youtube.com/embed/vvUeDxTgKbM" allowfullscreen></iframe>
    <iframe class="video" src="https://www.youtube.com/embed/txdQKmcNjY8" allowfullscreen></iframe>
    <iframe class="video" src="https://www.youtube.com/embed/mocYjACm5RE" allowfullscreen></iframe>
    <iframe class="video" src="https://www.youtube.com/embed/_svo5I0D2cI" allowfullscreen></iframe>
    <iframe class="video" src="https://www.youtube.com/embed/s1RtxwKhb0s" allowfullscreen></iframe>
    <iframe class="video" src="https://www.youtube.com/embed/_mZbzDOpylA" allowfullscreen></iframe>
    <iframe class="video" src="https://www.youtube.com/embed/1MXU3ZDOKF4" allowfullscreen></iframe>
    <iframe class="video" src="https://www.youtube.com/embed/mI3D_F_M6D8" allowfullscreen></iframe>
    <iframe class="video" src="https://www.youtube.com/embed/CBt_gND6grg" allowfullscreen></iframe>
    <iframe class="video" src="https://www.youtube.com/embed/ZjA0YtrPguY" allowfullscreen></iframe>
    <iframe class="video" src="https://www.youtube.com/embed/EA-Y9RKsMGA" allowfullscreen></iframe>
    <iframe class="video" src="https://www.youtube.com/embed/QzX4Y6KZsWc" allowfullscreen></iframe>
    <iframe class="video" src="https://www.youtube.com/embed/YT9T87ljYXg" allowfullscreen></iframe>
    <iframe class="video" src="https://www.youtube.com/embed/GoSq-yZcJ-4" allowfullscreen></iframe>
  </div>
  {% endblock %}
</body>
</html>
